<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <as-template-interporation></as-template-interporation>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <as-template-ref-var></as-template-ref-var>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <as-value-binding></as-value-binding>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <as-event-binding></as-event-binding>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <as-twoway-binding></as-twoway-binding>
        </div>
    </div>
</div>
